<!DOCTYPE html>
<html ng-app="masterapp">
<head>
    <title>Hello welcome to CulverBot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" type="text/css" href="/clientlibs/web_client/dep/ionic-v1.2.0/css/ionic.min.css">
    <script type="text/javascript" src="/clientlibs/web_client/dep/ionic-v1.2.0/js/ionic.bundle.min.js"></script>
    <script type="text/javascript" src="/clientlibs/web_client/dep/ionic-v1.2.0/js/angular/angular-cookies.min.js"></script>
    <style type="text/css">

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    
        .pane{
            background-color: #708090;
            color:#fff;
        }

/*        .item{
            background-color: #f7f7f7;
            border-color: #444;
        }

        .item-select select{
            background-color: #f9f9f9;
        }

        a.item{
            color:#444;
        }*/

    </style>
</head>
<body>

<!--TOP NAV-->
    <ion-nav-bar class="bar bar-header bar-dark" align-title="center" ng-controller="navCtrl">
       <ion-nav-buttons>
       <!-- Toggle left side menu -->
       <button class="button button-icon icon ion-navicon" ng-click="toggleLeftSideMenu();"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-side-menus is-enabled="true">
        <!-- Left menu -->
        <ion-side-menu side="left" expose-aside-when="large">
        
        <ion-list>
            <div class="item item-divider item-dark" style="padding-top:55px;">
               menu
            </div>
            <ion-item ui-sref="home">
                Messenger
            </ion-item>
            <ion-item ui-sref="myfeed">
                Following
            </ion-item>
            <ion-item ui-sref="community">
                Community
            </ion-item>
        </ion-list>
        </ion-side-menu>

        <ion-side-menu-content>

            <noscript><br/>
                <h1>It looks like you turned off your Javascript? </h1>
            </noscript>



            <!--MAIN VIEW-->
            <ion-nav-view></ion-nav-view>

        </ion-side-menu-content>


    </ion-side-menus>

    <!-- <script type="text/javascript" src="/clientlibs/web_client/min/culverbox.min.js"></script> -->

	<script type="text/javascript" src="/clientlibs/web_client/js/app.js"></script>
	<script type="text/javascript" src="/clientlibs/web_client/js/services.js"></script>
	<script type="text/javascript" src="/clientlibs/web_client/js/directives.js"></script>
	<script type="text/javascript" src="/clientlibs/web_client/js/controller.js"></script>
</body>

</html>