<div class="item item-positive"><h3>Recent messages from the Community</h3></div>


<div class="list">

    <div class="item" ng-if="community_feed.length <=0">
      <h3>No one in the community, invite your friends</h3>
    </div>

    <a ng-if="community_feed.length >=1" class="item item-avatar item-button-right" ui-sref="person({user_name:f.user_name})" ng-repeat="f in community_feed"> 
      <img src="/clientlibs/img/avatar.png">
      <h2>{{f.user_name}}</h2>
      <p>{{f.tweet}}</p>
      <p>{{f.date_created}}</p>
      <button class="button button-stable">
      		<span ng-show="f.following">Following</span>
		    <span ng-hide="f.following">Not Following</span>
	   </button>
    </a>

</div>